{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Project</title>
    <link rel="stylesheet" href="{% static 'tailwind-output.css' %}">
</head>
<body class="flex min-h-screen gap-1">
    <aside class="w-40 bg-[#1a1a1a] text-white min-h-screen p-6 flex flex-col gap-4">
    
        <div class="font-bold text-sm tracking-wider uppercase text-gray-200">
            Knowles
        </div>

        <!-- Navigation Links -->
        <ul class="list-disc list-inside space-y-2 text-sm text-gray-300">
            <li>
            <a href="#home" class="uppercase hover:text-white transition-colors">
                HOME
            </a>
            </li>
            <li>
            <a href="#activity-log" class="uppercase hover:text-white transition-colors">
                ACTIVITY LOG
            </a>
            </li>
        </ul>
    </aside>

    <div class ="flex flex-col flex-1 bg-[#1a1a1a] gap-3 text-white p-2">
        <div class = "w-full h-36 bg-white text-black p-2">
            one
        </div>
        <div class = "w-full h-48 bg-white text-black p-2">
            two
        </div>
        <div class = "flex flex-row w-full h-76 bg-[#1a1a1a] text-black gap-2">
            <div class = "flex flex-row w-full h-76 bg-white text-black p-2 gap-2">
                one
            </div>
            <div class = "flex flex-row w-full h-76 bg-white text-black p-2 gap-2">
                two
            </div>
            <div class = "flex flex-row w-full h-76 bg-white text-black p-2 gap-2">
                three
            </div>
        </div>
        <div class = "w-full h-full bg-white text-black p-2">
            four
        </div>
    </div>
</body>
</html>